.h5{
  font-size:14px !important;
}

.categoryContainer{
  display:inline-flex;
  width:100%
}
.div1{
  width:75%
}
.div2{
  width:25%;
  padding:1.25rem;
  padding-left:0rem;

}

.line{
  width:80%;
  background-color: lightgray;
  padding: 0.5px;
  margin-left: 10%;
  margin-right:10%;
}

.divButton{
  border-style: solid;
  border-color: #d0ccca;
  padding: 2px;
  display:flex;
  height: 30px;
  width:80px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #67b710f7;
}

.cardHeader{
  background-color: burlywood !important;
  text-transform: uppercase;
  font-weight: bold;
}
.price{
  color: grey
}
.description{
  color: #420707;
  font-size:13px;
}
.type{
  width:21px;
  height:21px;
}
.spanSign{
  font-size:1.1rem;
}
