.float{
	position:fixed;
	width:90px;
	height:fit-content;
	bottom:40px;
	padding: 2px;
	color:#FFF;
	display: inline-block;
	border-radius:30px;
  background-color: #5d8ed5;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
	transition: all 0.3s ease;

}
.floatdiv{
  position:fixed;
  height:40px;
	bottom:40px;
	left:50%;
  align-items: center;
  display: flex;
  margin: auto;
  max-width: 756px;
  justify-content: center;
	text-transform:uppercase;

}
button:focus{
	outline: none !important;
 }
